.contain-image {
  width: 90%;
  max-width: 400px; /* Ajusta según sea necesario */
  height: auto; /* Cambiado a auto para permitir que el contenedor crezca según el contenido */
  padding: 10px; /* Ajusta según sea necesario */
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0 rgba(20, 20, 20, 0.2);
}
