.contain-staticstis {
  min-width: 400px; /* Ajusta según sea necesario */
  min-height: 200px; /* Cambiado a auto para permitir que el contenedor crezca según el contenido */
  padding-top: 10px; /* Ajusta según sea necesario */
  font-family: 'Rubik', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0 rgba(20, 20, 20, 0.2);
  overflow-y: auto;
  margin-right: 20px;
  &--name-pokemon {
    font-size: 1.5rem; /* Ajusta según sea necesario */
    margin-bottom: 10px;
  }
  p {
    padding: 1px;
    font-size: 16px;
  }
}
